html(lang="en")
	head
	meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(name="description", content="Peter Holfelder's Resume")
	meta(name="author", content="Peter Holfelder")
	link(href="./dist/css/bootstrap.min.css", rel="stylesheet")
	link(href="./dist/css/carousel.css", rel="stylesheet")
	link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")

	body
		div(class="container")
			h1
				| Resume
			p
				| this is where peter holfelder's node resume will be built.
			h2 Public Profiles
			ul
				li
					a(href="https://github.com/peterholfelder") Github 
					!= icon('github') 
				li
					a(href="http://linkedin.com/in/usetechnologybetter").i.fa.fa-linkedin  LinkedIn
				li
					a(href="https://twitter.com/pjholfelder") Twitter: @pjholfelder
				li
					a(href="http://bitbucket.org/peterholfelder") Bitbucket
			h2
				| Skills
			ul
				li node.js
				li python
				li Angular
				li Informatica
				li Oracle
				li DB2
			h2
				| Experience
			h2
				| Education
			p			
				| B.S., Physics, Rensselaer Polytechnic Institute, Troy, NY